Thumbs.db
.DS_Store
*.apk
*.ap_
*.dex
*.iml
*.class
/bin
/gen
/build
/captures
.classpath
.project
.gradle
.externalNativeBuild
.cxx
.idea
local.properties
*.iml
*.iws
*.ipr
*~
*.swp
/*/local.properties
/*/out
/*/*/build
/*/*/production
